
                                                <tr class="totals">
                                                    <td>Total</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td class="tcvotes"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td class="tsvotes"></td>
                                                    <td class="tclinton" data-rep="{{clintonDelegates.rep}}" data-dem="{{clintonDelegates.dem}}">{{clintonDelegates.total}}</td>
                                                    <td class="tsanders" data-rep="{{sandersDelegates.rep}}" data-dem="{{sandersDelegates.dem}}">{{sandersDelegates.total}}</td>
                                                    <td class="ttotal">{{total}}</td>
                                                </tr>